@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

button.nullButton {
    padding:5px 0 0px 15px;
    background: none;
    border: none; 
    color: white;
    display: flex;
}

div.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

div.default header {
    background-color: #2c3e50;
    color: #ffffff;
    display: flex; 
}

div.default .menu {
    position: fixed;
    height: 100vh; 
    width: max(20vw, 300px);  
    background-color: #2c3e50;
    z-index: 10;
}

div.default .acc-navbar {
    position: absolute;
    display: flex;
    width: calc(100% - 100px);
    margin-left: 100px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    z-index: 5;
}

div.default header div.content ul {
    display: flex;
    list-style: none;
}

div.default header h1 {
    word-break: break-all;
    padding: 10px;
    margin: 10px 0 
}

@media only screen and (max-width: 650px) {
    div.default header h1 {
        margin-top: 50px;
    }
}

div.default header h1 span {
    word-break: normal;
}

div.default header div.accessibility {
    position: absolute;
    top: 0;
    right: 0;
}


div.default header div.accessibility button {
    border: none;
    background-color: #34495e;
    color: black;
    padding: 2px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}

div.default header div.accessibility button img {
    filter: invert(1)
}

div.default header a {
    display: inline-block;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s;
}

div.default header a:hover {
    background: #34495e;
}

div.default main {
    margin: 20px 0
}

div.default main h2 {
    padding: 10px 20px;
}

div.default main h2 a {
    color: #2c3e50;
}

div.default main div.subtopic {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px
}

div.default main div.subtopic h3 {
    padding: 10px 20px;
}

div.default main div.subtopic h3 a {
    color: #34495e;
}

div.default main div.subtopic p {
    padding: 5px 20px;
    text-align: justify
}

div.default main div.subtopic ul {
    margin: 20px;
    padding: 20px;
    list-style-position: inside;
    background-color: #ecf0f1;
    border-radius: 5px;
}

div.default main div.subtopic img {
    margin: 0 auto;
    max-width: 90%;
}

div.default main div.subtopic pre {
    word-break: break-all;
    font-family: 'Roboto Mono', monospace;
    background-color: #ecf0f1;
    padding: 20px;
    white-space: pre-wrap;
    margin: 20px;
    border-radius: 3px;
}

div.default main ul li {
    padding: 5px 0 5px 10px
}

div.default main div.exercise {
    margin: 20px 0;
    background-color: #2c3e50;
    border-radius: 3px;
    padding: 20px;
}

div.default main div.exercise h2 {
    color: #ffffff;
    padding: 10px 10px 0;
}

div.default main div.exercise h3 {
    color: #ffffff;
    padding: 10px;
    flex: 1 0 100%;
}

div.default main div.exercise div.question {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap
}

div.default main div.exercise div.question button {
    min-width: min(80vw, 200px);
    flex: 1 0 40%;
    margin: 10px;
    min-height: 50px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    transition: 0.2s;
    outline: none;
    color: #000000;
    font-size: 1em;
}

div.default main div.exercise div.question button.unanswered:hover, 
div.default main div.exercise div.question div.answered button.explain:hover, 
div.default main div.exercise div.question div.answered button.reset:hover,
div.default main div.exercise div.question div.answered button.explain:focus, 
div.default main div.exercise div.question div.answered button.reset:focus,
div.default main div.exercise div.question button.unanswered:focus, 
div.default main div.exercise div.question button.unanswered:active {
    box-shadow: 0 0 0 2px #34495e, 0 0 0 5px #BEC7CD;
}

div.default main div.exercise div.question button.unanswered {
    cursor: pointer;
}

div.default main div.exercise div.question button.wrong {
    box-shadow: 0 0 0 3px #e74c3c;
}

div.default main div.exercise div.question button.correct {
    box-shadow: 0 0 0 3px #2ecc71;
}

div.default main div.exercise div.question button.unanswered:hover {
    background-color: #ecf0f1;
}

div.default main div.exercise div.answered {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin: 30px 0 0;
}

div.default main div.exercise div.answered p {
    background-color: #34495e;
    padding: 20px;
    margin: 10px;
    color: #ffffff;
    flex: 1 0 80%;
    border-radius: 3px
}

div.default main div.exercise div.answered button.reset {
    background-color: #e74c3c
}

div.default main div.exercise div.answered button {
    background-color:#1abc9c;
    color: white;
    cursor: pointer;
}

div.default main div.exercise div.answered button:hover {
    background-color: #16a085;
}

div.default main div.exercise div.answered button.reset:hover {
    background-color: #c0392b;
}

div.default footer {
    text-align: center;
    margin: 30px
}

div.default footer p {
    padding: 5px;
}
