@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

div.content {
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px
}

header h1 {
    word-break: break-all;
    padding: 10px;
    margin: 10px 0 
}

header h1 span {
    word-break: normal;
}

header a {
    display: inline-block;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s;
}

header a:hover {
    background: #34495e;
}

main {
    margin: 20px 0
}

main h2 {
    color: #2c3e50;
    padding: 10px 20px
}

main div.subtopic {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px
}

main div.subtopic h3 {
    color: #34495e;
    padding: 10px 20px
}

main div.subtopic p {
    padding: 5px 20px;
    text-align: justify
}

main div.subtopic ul {
    margin: 20px;
    padding: 20px;
    list-style-position: inside;
    background-color: #ecf0f1;
    border-radius: 5px
}

main div.subtopic img {
    margin: 0 auto;
    max-width: 90%;
}

main div.subtopic pre {
    word-break: break-all;
    font-family: 'Roboto Mono', monospace;
    background-color: #ecf0f1;
    padding: 20px;
    white-space: pre-wrap;
    margin: 20px;
    border-radius: 3px;
}

main ul li {
    padding: 5px 0 5px 10px
}

main div.exercise {
    margin: 20px 0;
    background-color: #2c3e50;
    border-radius: 3px;
    padding: 20px;
}

main div.exercise h2 {
    color: #ffffff;
    padding: 10px 10px 0;
}

main div.exercise h3 {
    color: #ffffff;
    padding: 10px;
    flex: 1 0 100%;
}

main div.exercise div.question {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap
}

main div.exercise div.question button {
    min-width: min(80vw, 200px);
    flex: 1 0 40%;
    margin: 10px;
    min-height: 50px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    transition: 0.2s;
    outline: none;
    color: #000000;
}

main div.exercise div.question button:hover, main div.exercise div.question button:focus, main div.exercise div.question button:active {
    box-shadow: 0 0 0 3px coral;
}

main div.exercise div.question button.unanswered {
    cursor: pointer;
}

main div.exercise div.question button.wrong {
    box-shadow: 0 0 0 3px #e74c3c;
}

main div.exercise div.question button.correct {
    box-shadow: 0 0 0 3px #2ecc71;
}

main div.exercise div.question button.unanswered:hover {
    background-color: #ecf0f1;
}

main div.exercise div.answered {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin: 30px 0 0;
}

main div.exercise div.answered p {
    background-color: #34495e;
    padding: 20px;
    margin: 10px;
    color: #ffffff;
    flex: 1 0 80%;
    border-radius: 3px
}

main div.exercise div.answered button.reset {
    background-color: #e74c3c
}

main div.exercise div.answered button {
    background-color:#1abc9c;
    color: white;
    cursor: pointer;
}

main div.exercise div.answered button:hover {
    background-color: #16a085;
}

main div.exercise div.answered button.reset:hover {
    background-color: #c0392b;
}

footer {
    text-align: center;
    margin: 30px
}

footer p {
    padding: 5px;
}
